* {
    background: #905A5A;
}
#section-header .img-logo {
    width: 150px;
    height: auto;
    left: 141px;
    top: 27px;
}
#section-header .btn-warning {
    position: absolute;
    width: 128px;
    height:auto;
    left: 900px;
    top: 85px;

    background: #E79A40;
    border-radius: 30px;
}

#section-header .pt-4 {
    font-family: Sahitya;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 39px;
}
#banner .img-hearing {
    width: 100%;
    height: auto;
}

#banner .banner-text {
    margin-top: 100px;
}

#banner span {
    color: #E1CE22;
}

#banner h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 60px;
    color : #780B0B;
}

@font-face {
    font-family: "Font Digital";
    src: url('Flavors.ttf');
    }

.digital {
    font-family: "Font Digital";
    }

#banner h3 {
    margin-top : 10px;
    font-family: Sahitya;
    font-weight: bold;
    font-size: 30px;
}
#arti h1 {
    margin-top: 100px;
    font-family: Sahitya;   
    font-size: 60px;
    text-align: center;
    color : #FEAC0C;
}
#arti p {
    font-family: Sahitya;   
    font-size: 40px;
    line-height: 93px;
    text-align: center;
    color : black;
}
#arti2 .img-hearing2 {
    width: 400px;
    height: auto;
}
#arti2 .pengertian {
    font-family: Sahitya;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 120px;
}
#pengurus h1 {
    margin-top: 100px;
    font-family: Sahitya;   
    font-size: 60px;
    text-align: center;
    color : #FEAC0C;
}
#pengurus .mars {
    font-family: Sahitya;   
    font-size: 40px;
    line-height: 93px;
    text-align: center;
    color : black;
}
#pengurus .text1 {
    color: black;
}
#pengurus .card-img-top {  
    width: 10px;
    height: auto;

}
/* kegiatan */

#kegiatan h1 {
    margin-top: 100px;
    font-family: Sahitya;   
    font-size: 60px;
    text-align: center;
    color : #FEAC0C;
}
#kegiatan .mars {
    font-family: Sahitya;   
    font-size: 40px;
    line-height: 93px;
    text-align: center;
    color : black;
}
#kegiatan2 h2 {
font-family: Sahitya;
font-size: 50px;
text-align: center;
}
#section-footer .img-footer {
    width: 200px;
    height: auto;
}

#section-footer h6 {
    color: #ACACAC;
}


#section-footer i {
    font-size: 30px;
    margin-right: 10px;
    color: #ACACAC;
}

#section-footer .kolom1 {
    color: #ACACAC;
}

#section-footer li {
    list-style: none;
}